# Relatório de Análise IV

## Seleção de Frequências

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('aluguel_residencial.csv', sep=';')

In [11]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [17]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila') # "|" fica no lugar do e
n2 = dados[selecao].shape[0]
n2

2212

In [20]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
# 60 <- Area <- 100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [22]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [24]:
print("N° de imóveis classificados com tipo 'Apartamento' --> {}".format(n1))

print("N° de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' --> {}.".format(n2))

print("N° de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites --> {}.".format(n3))

print("N° de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 --> {}.".format(n4))

N° de imóveis classificados com tipo 'Apartamento' --> 19532
N° de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' --> 2212.
N° de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites --> 8719.
N° de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 --> 41.

In [26]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False